# Ambiente virtual
venv/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Notebooks checkpoints
.ipynb_checkpoints

# Arquivos de ambiente
.env

# VS Code
.vscode/

# Logs
*.log

# Arquivos de dados
*.csv
*.xlsx
*.sqlite

# Config do VSCode
.vscode/